In [ ]:
#a-1
#a list is a data structure in python that is a mutable,or changeable,ordered sequence of elements.
list1 = [12,36,65,89]
list1.reverse()
print(list1)

In [ ]:
#a-2
list1 = [12,25,63,56,]
list1.pop()
print(list1)

In [ ]:
#a-3
list1 = [25,36,56,45,]
list1[-1]

In [ ]:
#a-4
#append = adds elements of the last index.
#example
#list1 = [25,36,65,98,]
#list1.append(23)
#print(list1)
#extend = adds iterable at last index.
#example
list1 = [56,65,98,78]
list1.extend('88')
print(list1)

In [ ]:
#a-5
#list1 = [25,36,89,77,88]
#list1.sort()
#print(list1)
print('largest number',list1[-1])
print('smallest number',list1[0])

In [ ]:
#a-6
list1 = [1,2,3,4,]
list2 = [1,2,3,4,]
if list1 == list2:
    print('list1 and list2 are equal')
else:
    print('list1 and list2 are not equal')

In [ ]:
#a-7 
list1 = ['patel','pranav','pop','n','n','pranavp',]
for i in list1:
    if len (i)>=2:
        if i [0]==i [-1]:
            print(i)

In [ ]:
#a-8 
list1 = [1,2,3,1,2]
set(list1)

In [ ]:
#a-9 Write a Python program to check a list is empty or not.
list1 = []    
if len(list1)==0:
    print('list1 is empty')
else :
    print('list1 is not empty')

In [ ]:
#a-10 Write a Python function that takes two lists and returns true if they have at least one common member.
list1 = [12,23,65,36,98,78,20]
list2 = [12,23,36,65,78,98,11]
ans = False
for i in list1:
    if i in list2:
        continue
    else:
        print(ans)
        break
else:
    ans = True
    print(ans)

In [ ]:
#a-11 Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.
list1 = [1,2,3,4,5,26,27,28,29,30]
for i in list1:
    a = (i**i)
    print(a)

In [ ]:
#a-12 Write a Python function that takes a list and returns a new list with unique elements of the first list.
list1 = [11,11,12,12,12,33,65,98,78]
list2 = set(list1)
list1 = list(list2)
print(list1)

In [ ]:
#a-13 Write a Python program to convert a list of characters into a string
list1 = ['p','r','a','n','a','v']
str1 = ''
for i in list1:
    str1 += i
print(str1)

In [ ]:
#a-14 Write a Python program to select an item randomly from a list.
list1 = [11,12,13,14,15,16,17]

In [ ]:
#a-15 Write a Python program to find the second smallest number in a list.
list1 = [20,58,9,87,86,45,78,]
list1.sort()
print(list1[1])

In [ ]:
#a-16 Write a Python program to get unique values from a list.
list1 = [25,65,98,75,88,99,25,25,25,]
list2 = set(list1)
print(list2)

In [1]:
#a-17 Write a Python program to check whether a list contains a sub list.
list1 = ['pranav',{1,2,3,4,5,},[1,5,4,8],50,65,5.0]
for i in list1:
    if type(i)==list:
        print(i,'true')
        break
else:
    print('flase')

[1, 5, 4, 8] true

In [2]:
#a-18 Write a Python program to split a list into different variables.
listt = [1,2,3,4,5,6,7,8,9,10]
list1 = listt[:5]
list2 = listt[-5:]
print(list1,list2)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

In [ ]:
#a-19 What is tuple? Difference between list and tuple.
### you can store all datatypes in tuple.ordered,indexed,immutable,allow duplicate values.
### difference between tuple and list = a list is a data structure in python that ia mutable or changeable,ordered sequence of elements.
### tuple = ordered,indexed,immutable,allow duplicate values,you can store all datatypes.

In [ ]:
 #a-20 Write a Python program to create a tuple with different data types.
list1 = (12,1.5,[2,5,8],{1,5,7},{a:5,b:6},'pranav',False,(2,5,7,))
print(list1)

In [ ]:
# a-21 Write a Python program to create a tuple with numbers.
list1 = 5,10,15,20
print(list1)

In [ ]:
# a-22 Write a Python program to convert a tuple to a string.
list1 = ('p','r','a','n','a','v')
list2 = ''
for i in  list1:
    list2 += i
print(list2)

In [3]:
#a-23 Write a Python program to check whether an element exists within a tuple.
list1 = (8,9,2,5,'p','r')
print(65 in list1)

False

In [ ]:
#a-24 Write a Python program to find the length of a tuple.
p = (5,8,9,7,8,7,5,5,)
len(p)

In [ ]:
# a-25 Write a Python program to convert a list to a tuple.
list1 = [1,5,4,56,62,]
list2 = tuple(list1)
print(list2)

In [ ]:
#a-26 Write a Python program to reverse a tuple.
list1 = (25,65,98,78,52,36,99)
list2 = list1[::-1]
print(list2)

In [4]:
#a-27 Write a Python program to replace last value of tuples in a list.
list1 = [(25,58,44),(45,78),(88,98,43),(78,98)]
idx=0
for i in list1:
    i = list(i)
    i[-1]=100
    t1 = tuple(i)
    list1[idx]=t1
    idx+=1
print(list1)

[(25, 58, 100), (45, 100), (88, 98, 100), (78, 100)]

In [ ]:
#a-28 Write a Python program to find the repeated items of a tuple.
list1 = (25,65,9,85,58,58,58,58,65,25,)
list1.count(58)

In [ ]:
#a-29 Write a Python program to remove an empty tuple(s) from a list of tuples.
list1 = [('pranav'),(),(),(),(2,5,6,8,)]
list2 = []
for i in list1:
    if len(i) != 0:
        list2.append(i)
print(list2)

In [ ]:
#a-30 Write a Python program to unzip a list of tuples into individual lists.
a,b,c, = (55,88,99)
print(a,b,c)

In [ ]:
#a-31 Write a Python program to convert a list of tuples into a dictionary.
list1 = [(12,24),(24,48),(13,26)]
list2 =dict(list1)
print(list2)

In [ ]:
#a-32 How will you create a dictionary using tuples in python?
list1 = (('a',1),('b',2),('c',3))
dict(list1)

In [ ]:
#a-33 Write a Python script to sort (ascending and descending) a dictionary by value.
list1 = {'a':25,'b':12,'c':98,'d':-12,}
a1 = dict(sorted(list1.items(),key = lambda a : a[1]))
a2 = dict(sorted(list1.items(),key = lambda a : a[1],reverse = True))
print('ascending',a1,'descending',a2,sep = '\n')

In [ ]:
#a-34 Write a Python script to concatenate following dictionaries to create a new one.
list1 = {1:6,5:1}
list2 = {2:12,3:36}
list3 = {}
for i in (list1,list2):
    list3.update(i)
print(list3)

In [ ]:
#a-35 Write a Python script to check if a given key already exists in a dictionary.
list1 = {'a':5,'b':6,'c':7,'d':8}
key = input()
if key in list1.keys():
    print(key,'already exists')
else:
    print(key,'does not exists')

In [5]:
#a-36 How Do You Traverse Through A Dictionary Object In Python?
dict1 = {'a':90,'b':6,'d':-5,}
for i in dict1:
    print(i)

a
b
d

In [ ]:
#a-37 How Do You Check The Presence Of A Key In A Dictionary?
list1 = {'a':33,'b':34,'c':43,'d':80}
key = input()
if key in list1.keys():
    print(key,'presence')
else:
    print(key,'not presence')

In [4]:
#a-38 Write a Python script to print a dictionary where the keys are numbers between 1 and 15.
list1 = dict()
for i in range(1,16):
    list1[i] = None
print(list1)

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None, 10: None, 11: None, 12: None, 13: None, 14: None, 15: None}

In [ ]:
#a-39 Write a Python program to check multiple keys exists in a dictionary.

In [7]:
#a-40 Write a Python script to merge two Python dictionaries.
dict1 = {1:3,2:3,5:6}
dict2 = {3:3,6:3,7:4}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{1: 3, 2: 3, 5: 6, 3: 3, 6: 3, 7: 4}

In [8]:
#a-41 Write a Python program to map two lists into a dictionary.
list1 = ['pranav','b','patel']
list2 = [1,2,3]
list3 = dict(zip(list1,list2))
print(list3)

{'pranav': 1, 'b': 2, 'patel': 3}

In [9]:
#a-42 Write a Python program to combine two dictionary adding values for common keys.
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200,’d’:400}
# Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).
d1 ={'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'c':400}
d3 = {}
for key in d1:
    if key in d2:
        d3[key] = d2[key]+d1[key]
print(d3)

{'a': 400, 'b': 400, 'c': 700}

In [10]:
#a-43 Write a Python program to print all unique values in a dictionary.
list1 = {'a':5,'b':5,'c':7,'d':8}
list2 = set(list1.values())
print(list2)

{8, 5, 7}

In [11]:
#a-44 Why Do You Use the Zip () Method in Python?
### zip is bind object of multiple collection.